

*,
*::before,
*::after{
	box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
	margin: 0;
	background-color: #660000;
}
.green-line{
	height: 5px;
	background-color: #76c38f;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
	font-family: 'Georgia', regular;
	font-weight: normal;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
footer,
header,
nav,
section{
	display: block;
}
.background-img{
	max-width: 1200px;
	margin: 0 auto;
	background-image: url(../photos/mountain.jpg);
}
.background-paintig{
	width: 100%;
	
}
.transparent, .image-description h5{
	background-color: rgba(0, 0, 0, 0.6);
}
header,
section,
footer{
	max-width: 1200px;
	margin: 0 auto;
}
.container{
	max-width: 80%;
	margin: 0 auto;
}
/*Heder starts*/
.header-container{
	display: flex;
	align-items: baseline;
}
.logo{
	width: 20%;
}
.logo h2{
	margin-bottom: 0;
	font-size: 1.75rem;
	line-height: 1;
	color: #ffffff;
}
.logo p{
	margin-top: 0;
	color: #979797;
	font-size: 0.75rem;
}
.menu{
	width: 80%;
}
.menu ul{
	display: flex;
	justify-content: flex-end;
}

.menu ul li{
	cursor: pointer;
	box-sizing: border-box;
	padding: 12px 20px;
	border-radius: 10px;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.menu ul li:hover{
	background-color: #76c38f;
}
.menu ul li a{
	padding: 12px 2.7211%;
	color: #ffffff;
	font-size: 0.8125rem;
	line-height: 1.2;
	white-space: nowrap;
}
/*Header ends*/
/*Section1 starts*/
.section1{
	padding: 45px 0 50px;
}
.profile-container, .services-container{
	display: flex;
	align-items: center;
}
.side{
	background: rgba(0, 0, 0, 0);
	border: none;
	width: 1.7708%;
	outline: none;
}
.arrow{
	font-size: 1.875rem;
	cursor: pointer;
	color: #76c38f;
}
.button-left{
	margin-right: 4.6875%;
}
.button-right{
	margin-left: 4.6875%;
}
.profile{
	width: 43.2292%;
}
.profile-name h1{
	font-size: 2.875rem;
	line-height: 1;
	color: #ffffff;
}
.profile-discription{
	width: 77.1084%;
}
.profile-discription p{
	font-size: 0.75rem;
	line-height: 1.6;
	color: #979797;
}
.read-more-button{
	width: 34.9397%; 
	cursor: pointer;
	border-radius: 10px;
	background-color: #76c38f;
	text-align: center;
	padding: 12px 2.7211%;
}
.read-more-button a{
	font-size: 0.8125rem;
	color: #ffffff;
}
.profile-img{
	width: 42.3958%;
}
.profile-img img{
	height: auto;
	width: 100%;
	border-radius: 50%;
	border: 27px solid #6b6b6b;
	object-fit: cover;
}
/*Section1 ends*/
/*Section2 starts*/
.section2{
	margin: 60px auto 0;
}
.service{
	cursor: pointer;
	width: 23.4375%;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}
.service-width{
	width: 73.3333%;
	margin: 23px auto;
}
.icon-service{
	color: #333333;
	font-size: 7.5rem;
	border-radius: 50%;
}
.service h3{
	font-size: 2rem;
	line-height: 1;
	margin-top: 18px;
}
.service p{
	font-size: 0.75rem;
	line-height: 1.4;
	font-weight: normal
	color: #979797;
	width: 75.5555%;
	margin-left: auto;
	margin-right: auto;
}
.service:hover{
	background-color: #76c38f;
	color: #ffffff;
}
.service:hover .icon-service{
	background-color: #76c38f;
	color: #ffffff;
}
/*section2 ends*/
/*section3 starts*/
.latest-work-line{
	background-color: #303030;
	height: 3px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 63px;
	margin-bottom: 52px;
}
.latest-work h4{
	border-radius: 10px;
	background-color: #303030;
	color: #ffffff;
	font-size: 2rem;
	line-height: 1.2;
	padding: 5px 14px;
	}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 30px;
}
.image{
	cursor: pointer;
	width: 30.2083%;
	position: relative;
	border: 5px solid #ffffff;
	margin-bottom: 30px;
	overflow: hidden;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.image-grey{
	width: 100%;
	display: block;
	filter: grayscale(1.0);
}
.image-description h5{ 
	position: absolute;
	font-size: 0.875rem;
	line-height: 1.2;
	color: #ffffff;
	bottom: 0;
	margin: 0 auto;
	padding: 10px 24.1379%;
	white-space: nowrap;
}
.image:hover{
	border-color: #76c38f;
}
.image:hover .image-description{
	display: none;
}
.image:hover .image-grey{
	filter: grayscale(0);
}
/*section3 ends*/
/*section4 starts*/
.section4{
	width: 100%;
	background-color: #303030;
}
.footer-container{
	display: flex;
	justify-content: space-between;
}
.footer-container h6{
	margin: 0 0;
	font-size: 1rem;
	line-height: 1.2;
	color: #ffffff;
	padding-top: 40px;
	padding-bottom: 15px; 
}
.flex-sections{
	width: 23.4375%;
}
.post-title{
	font-size: 0.8125rem;
	line-height: 1.2;
	font-weight: bolder;
	color: #76c38f;
}
.post-autor, .post-date{
	font-size: 0.625rem;
	line-height: 1.2;
}
.post-autor{
	color: #5a5959;
}
.admin-color a{
	color: #76c38f;
}
.post-date{
	color: #979797;
}
.post{
	font-size: 0.8125rem;
	line-height: 1.6;
	color: #979797;
}
.read-more{
	font-size: 0.8125rem;
	line-height: 1.6;
	color: #76c38f;
}
.quick-links nav ul{
	padding-left: 0;
	margin: 0 auto;
}
.quick-links nav ul li::before{
	content: ">";
	padding-right: 4px;
	color: #979797;
}
.quick-links nav ul li{
	border-bottom: 1px solid #404040;
}
.quick-links nav ul li a{
	color: #76c38f;
	font-size: 0.8125rem;
	line-height: 2.65;
	text-decoration: none;
}